body {
    padding: 50px 10px 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #777;
}

.ajax-loader-overlay {
    background: rgba(0,0,0,0.7) url(/public/image/loader.gif) center center no-repeat;
    background-size: 64px 64px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav.navbar {
    height: 50px;
    border-top: none;
    padding: 0 10px;
}

.navbar-default .navbar-nav > li > a {
    height: 49px;
    padding-top: 14px;
}

a.btn-close {
    float: right;
}

#digestmodel-path,
#digestmodel-name {
    padding: 6px 12px;
    height: 34px;
    margin-bottom: 0;
}

h3 {
    color: #777;
}

.flex-container {
    margin: 0 -10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.part {
    width: 350px;
    border: 1px solid #F1F1F1;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin: 0 10px 20px;
    position: relative;
}

.part.edit {
    padding-bottom: 50px;
}

.part:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.part .thumb {
    height: 225px;
    background-size: cover;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 34px !important;
}

.caption .btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.label-div {
    padding-top: 8px;
}

.label-div-form {
    padding-top: 18px;
}

#accordion {
    margin-top: 20px;
}

.select_form3{
    /*width: 70px;*/
}